<h1><%= @post.id %></h1>
<ul>
  <li><%= @post.title %></li>
  <li><%= @post.content %></li>
</ul>

<table>
  <th>
  <td>id</td>
  <td>content</td>
  </th>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.content %></td>
      <td><%= link_to 'edit', edit_post_comment_path(@post, comment) %></td>
      <td><%= button_to "delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'new', new_post_comment_path(@post) %>