<h1>New comment for Post id<%= @post.id %></h1>
<%= form_for @comment, url: post_comments_path(@post), method: :post do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>