<h1>Post list</h1>

<% @posts.each do |post| %>
  <ul>
    <li>id:<%= post.id %></li>
    <li>title:<%= post.title %></li>
    <li>content:<%= post.content %></li>
    <li><%= link_to "edit this post #{post.id}" ,edit_post_path(post) %></li>
  </ul>
<% end %>

<%= link_to 'New', new_post_path %>